<!DOCTYPE html>
<html>
  <head>
    <title>Facebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		 <ul><%= link_to "All  Statuses", feed_path %>

		 <% if user_signed_in? %>
	 
	 <%= link_to current_user.full_name, edit_user_registration_path %>
	 <li><%= link_to "Log Out", logout_path, method: :delete %></li>
	 <% else %>
	 <div align= "left"><%= link_to "Register",register_path %></div>
	 <div align= "left"><%= link_to "Log in", login_path%></div>
	 <% end %>
	
 </ul>
  </head>

  <body>
	  <p class="notice"><%= notice %></p>
	         <p class="alert"><%= alert %></p>
			 
		

			 
    <%= yield %>
  </body>
</html>
